<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/static/styles/main.css">
    <title>BookShelf</title>
</head>
<body>

    <div class="page">
        {% if current_user.is_authenticated %}
            <ul class="top">
                <li class="bar"><a href="{{url_for('main_page')}}">BookShelf</a></li> <!-- Image--> 
                <li class="bar"><a class="active" href="{{url_for('shop')}}">Shop</a></li>
                <li class="bar"><a href="{{url_for('contact')}}">Contact</a></li>
                <li class="barr"><a href="{{url_for('logout')}}">logout</a></li>
                <li class="barr"><a class="active">Welcome, {{ current_user.name}}</a></li>
            </ul>
        {% else %}
            <ul class="top">
                <li class="bar"><a href="{{url_for('main_page')}}">BookShelf</a></li> <!-- Image--> 
                <li class="bar"><a class="active" href="{{url_for('shop')}}">Shop</a></li>
                <li class="bar"><a href="{{url_for('contact')}}">Contact</a></li>
                <li class="barr"><a href="{{url_for('register')}}">Registration</a></li>
                <li class="barr"><a href="{{url_for('login_page')}}">Login</a></li>
            </ul>
        {% endif %}
        
        {% block content %}
            {# Temlpate here #}
        {% endblock %}
        
        <footer class="foot">
            <p class="first">© Book Shop «BookShelf» 2020–2024.</p>
            <p class="second">Contact number: + 38098974418.</p>
            <p class="third">Address: Kovalsky street 5.</p>
        </footer>
    </div>
    

</body>
</html>

