{% extends "base.html" %}

{% block content %}

<div>
    <div class="contact">
        <h1>BookShelf !</h1>
        <p class="main_p">We’d love to hear from you! Let
            us know what you think about the webshop and our service. Tell us if you're
            unhappy with anything – tell others if you're pleased.
        </p>
        
        <p class="main_p"> <span> The easiest way </span> to contact us is of course by email:<span> o.bilous712@gmail.com</span>
        </p>
        <p class="main_p">Or by the phone <span>+ 38098974418.</span></p>
        <p>© Book Shop «BookShelf» 2022–2023.</p>
        <p>Contact number: + 38098974418.</p>
        <p>Address: Kovalsky street 5.</p>
    </div>

    <a class="main_button2" href="{{url_for('shop')}}">Back to the shop</a>

</div>

{% endblock%}