{% extends "base.html" %}

{% block content %}
<div>
    <form method="POST">
      <div class="main_reg">
        <h1>Sign in</h1>
        <p>Please fill in this form to login in account.</p>
      </div>
     
        <table class="reg">
            <td>Phone number</td>
            <td><input type="text" placeholder="Enter your phone number" name="number"></td>
          </tr>
          <tr>
            <td>password</td>
            <td><input type="password" placeholder="Enter password" name="password"></td>
          </tr>
            <td><a class="registerbtn" href="{{url_for('register')}}">Register</a></td>
            <td><input class="registerbtn2" type="submit" value="Login"></td>
          </tr>
          <tr>
          </tr>
        </table>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li class="Error">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
</div>
{% endblock%}