{% extends "base.html" %}

{% block content %}
<div>
    <div class="shop_container">
        {% for i in book %}
            <div class="product">
                <p class="book_name">{{i.name}}</p>  <a href=""></a>

                <a href="{{i.url}}">
                    <img class="img" src={{i.image_link}}>
                </a>
                
                <a href="{{i.url}}">
                    <button class="button__buy">buy</button>
                </a>
                <p class="book_price">{{i.price}} $</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}