{% extends "base.html" %}

{% block content %}
<div class>
    <div>
        <h1 class="hello">Welcome to the BookShelf !</h1>
        <a class="main_button" href="{{url_for('shop')}}">Start your book journey with us</a>       
    </div>
      

    <div class="container">
        {% for i in book %}
            <div class="product">
                <p class="book_name">{{i.name}}</p>  <a href=""></a>

                <a href="{{i.url}}">
                    <img class="img" src={{i.image_link}}>
                </a>
                
                <a href="{{i.url}}">
                    <button class="button__buy">buy</button>
                </a>
                <p class="book_price">{{i.price}} $</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock%}