<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="static/styles/main.css">
    <title>Home page</title>
</head>
<body>
    <div class="page">

        <ul class="top">
            <li class="bar"><a href="#">BookShelf</a></li> <!-- Image--> 
            <li class="bar"><a class="active" href="#">Shop</a></li>
            <li class="bar"><a href="#">Contact</a></li>
            <li class="bar"><a href="#">About us</a></li>
            <li class="barr"><a href="#">Registration</a></li>
            <li class="barr"><a href="#">Login</a></li>
            <li class="barr"><a href="#">Bucket</a></li>
        </ul>

        
        <h1 class="hello">Welcome to the BookShelf !</h1>
        <a class="main_button" href="#">Start your book journey with us</a>


        <footer class="foot">
            <p class="first">© Book Shop «BookShelf» 2022–2023.</p>
            <p class="second">Contact number: + 38098974418.</p>
            <p class="third">Address: Kovalsky street 5.</p>
        </footer>
    </div>
    
  </body>
</body>
</html>

