*{
    margin: 0;
    padding: 0;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bar {
    float: left;
}

.barr {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ae8300;
}

.foot{
    background-color: #333;
    margin-top: auto;
    height: 6vh;
}

.first{
    color: white;
    position: absolute;
    top: 96%;
    left: 1%;

}

.second{
    color: white;
    position: absolute;
    top: 96%;
    left: 40%;
}

.third{
    color: white;
    position: absolute;
    top: 96%;
    left: 80%;
}


.hello{
    position: relative;
    top: 30px;
    font-size: 300%;
    text-align: center;
}


.main_button{
    position: relative;
    top: 30px;
    font-size: 200%;
    background-color: #ae8300;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 28%;
    margin: auto;
}

.container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 32%;

}

.product {
    text-align: center;
    width: 12%;
    padding: auto;
    border:  solid black;
    border-radius: 7%;

}

.img {
    width: 80%;
    height: 70%;
}


  
.book_name{
      font-size: 170%;
}
  
  
.book_price{
      font-size: 130%;
}
  
.button__buy {
      margin: 0 auto;
      width: 80%;
      height: 33px;
      border-radius: 14px;
      background: #000;
      font-size: 130%;
      text-align: center;
      color: #ffffffff;
      line-height: 81.51%;
      letter-spacing: 0.14em;
      box-sizing: border-box;
}

.shop_container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 24%;
}

.main_reg{
    text-align: center;
    font-size: 150%;
}

.reg{
    position: absolute;
    top: 25%;
    left: 38%;
}

.registerbtn {
    background-color: #ae8300;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn2 {
    background-color: #ae8300;
    color: white;
    padding: 16px 7px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 110%;
}


td{
    font-size: 150%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.Error{
    text-align: center;
    font-size: 200%;
    color: #ae8300;
}